<a href="https://colab.research.google.com/github/Tegar348/Jobsheet-07-Tuple-Dictonary-dan-Set/blob/main/Jobsheet_07_Tuple%2C_Dictionary%2C_dan_Set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Praktikum 01: Tuple: Data tetap yang Tidak Bisa Diubah

In [ ]:
koordinat = (7.05, 110.44)
print("Lintang:", koordinat[0])
print("Bujur:", koordinat[1])

Lintang: 7.05
Bujur: 110.44

#Praktikum 02: Dictionary Dasar: Menyimpan Data Mahasiswa

In [ ]:
mahasiswa = {
    "NIM": "20251001",
    "Nama": "Andi",
    "Prodi": "TRK"
}

print("NIM: ", mahasiswa["NIM"])
print("Nama: ", mahasiswa["Nama"])
print("Prodi: ", mahasiswa["Prodi"])

NIM:  20251001
Nama:  Andi
Prodi:  TRK

#Praktikum 03: Operasi pada Dictionary

In [ ]:
mahasiswa = {
    "NIM": "20251001",
    "Nama": "Andi",
    "Prodi": "TRK"
}

mahasiswa ["Umur"] = 20                   #menambah data
mahasiswa ["Prodi"] = "Teknik Komputer"   #memperbarui data
del mahasiswa ["Umur"]                    #menghapus data

print(mahasiswa)

{'NIM': '20251001', 'Nama': 'Andi', 'Prodi': 'Teknik Komputer'}

#Praktikum 04: Set dan Operasi Himpunan

In [24]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

print("Union: ", A | B)         #Gabungan U
print("Intersection: ", A & B)  #Irisan âˆ©
print("Difference: ", A - B)    #Selisih
print("Difference: ", B - A)    #Selisih

Union:  {1, 2, 3, 4, 5, 6}
Intersection:  {3, 4}
Difference:  {1, 2}
Difference:  {5, 6}

#Praktikum 05: Studi Kasus: Data Mahasiswa dan Mata Kuliah

In [ ]:
mhs1 = {"Algoritma", "Matematika", "Bahasa Inggris"}
mhs2 = {"Algoritma", "Basis Data", "Matematika"}

print("Mata kuliah Mhs1:", mhs1)
print("Mata kuliah Mhs2:", mhs2)
print("Mata kuliah yang sama:", mhs1 & mhs2)

Mata kuliah Mhs1: {'Bahasa Inggris', 'Algoritma', 'Matematika'}
Mata kuliah Mhs2: {'Basis Data', 'Algoritma', 'Matematika'}
Mata kuliah yang sama: {'Algoritma', 'Matematika'}

#Praktikum 06: Studi Kasus Dictionary: Daftar Nilai Mahasiswa

In [ ]:
nilai_mahasiswa = {
    "Andi": 80,
    "Budi": 75,
    "Cici": 90
}

for nama, nilai in nilai_mahasiswa.items():
    print(f"{nama}: {nilai}")

rata = sum(nilai_mahasiswa.values()) / len(nilai_mahasiswa)
print(f"Rata-rata nilai: {rata:.2f}")

Andi: 80
Budi: 75
Cici: 90
Rata-rata nilai: 81.67

#Tugas No 03: Tuple Sederhana

In [5]:
mahasiswa = ("Tegar", 17, "TRK")

print(mahasiswa[0])
print(mahasiswa[1])
print(mahasiswa[2])

Tegar
17
TRK

#Tugas No 04: Tuple Tidak Bisa Diubah

In [11]:
angka = (1, 2, 3)

e = angka[1] = 4
print(e)

TypeError: 'tuple' object does not support item assignment

#Tugas No 05: Dictionary Dasar

In [13]:
buku = {
    "Judul": "Algoritma",
    "Penulis": "Munir",
    "Tahun": 2021
}

print("Judul: ", buku["Judul"])
print("Penulis: ", buku["Penulis"])
print("Tahun: ", buku["Tahun"])

Judul:  Algoritma
Penulis:  Munir
Tahun:  2021

#Tugas No 06: Operasi Dictionary

In [21]:
data_dosen = {
    "NIP": "12345",
    "Nama": "Budi",
    "Prodi": "TRK"
}

data_dosen ["Umur"] = 40                  #Menambahkan data
data_dosen ["Prodi"] = "Teknik Komputer"  #Memperbarui data
del data_dosen ["Umur"]                   #Menghapus data
print(data_dosen)

{'NIP': '12345', 'Nama': 'Budi', 'Prodi': 'Teknik Komputer'}

#Tugas No 07: Set dan Himpunan

In [23]:
A = {"Matematika", "Algoritma", "Bahasa Inggris"}
B = {"Algoritma", "Basis Data", "Matematika"}

print("Union: ", A | B)
print("Intersection: ", A & B)
print("Difference: ", A - B)
print("Difference: ", B - A)

Union:  {'Algoritma', 'Basis Data', 'Bahasa Inggris', 'Matematika'}
Intersection:  {'Algoritma', 'Matematika'}
Difference:  {'Bahasa Inggris'}
Difference:  {'Basis Data'}

#Tugas No 08: Studi Kasus Dictionary

In [27]:
nilai_mahasiswa = {
    "Andi": 85,
    "Budi": 90,
    "Cici": 78
}

for nama, nilai in nilai_mahasiswa.items():
    print(f"{nama}: {nilai}")

rata = sum(nilai_mahasiswa.values()) / len(nilai_mahasiswa)
print(f"Rata-rata nilai: {rata:.2f}")

Andi: 85
Budi: 90
Cici: 78
Rata-rata nilai: 84.33

#Tugas No 09: Studi Kasus Set - Klub Mahasiswa

In [34]:
A = {"Andi", "Budi", "Cici"}
B = {"Cici", "Deni", "Eka"}

print("Daftar Seluruh Anggota: ", A | B)
print("Daftar anggota yang ada di kedua Klub: ", A & B)
print("Anggota yang hanya ada di Klub A tetapi tidak di Klub B: ", A - B)

Daftar Seluruh Anggota:  {'Deni', 'Eka', 'Budi', 'Cici', 'Andi'}
Daftar anggota yang ada di kedua Klub:  {'Cici'}
Anggota yang hanya ada di Klub A tetapi tidak di Klub B:  {'Budi', 'Andi'}